.glow-button::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #d946ef var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from),
    #f97316 var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #8b5cf6 var(--tw-gradient-to-position);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  animation-duration: 0.3s;
  z-index: -1;
}
